@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    height: 100vh;
    background-color: #202020;
    font-family: 'Raleway', sans-serif;
}

header {
    z-index: 99;
    position: fixed;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #202020;
    border-bottom: solid;
    border-width: 3px;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.685), rgba(0, 0, 0, 0)) 30;
}

header > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    transition: color 0.5s ease-in-out;
}

header > a:hover {
    color: #ff7575;
}
header > nav > ul {
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
    padding: 15px;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border .5s ease-in-out, color .5s ease-in-out;
}

header > nav > ul > li:hover {
    border: 1px solid rgb(255, 94, 94);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: rgb(255, 127, 127);
}

#apresentacao {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    border-bottom: 2px solid white;
    height: 100vh;
}

#apresentacao > div > h1 {
    font-size: 2.3em;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 0px black;
}

#apresentacao > div #trabalho-area {
    margin-bottom: 20px;
}

#apresentacao > div > #nome {
    font-size: 3em;
    color: #fd6363;
    margin: 10px 0px;
}

#apresentacao > img {
    width: 35vw;
}

#apresentacao > div > a {
    color: white;
    text-decoration: none;
    padding: 7px;
    margin: 2px;
    border: 2px solid #fd6363;
    border-radius: 5px;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

#apresentacao > div > a:hover {
    background-color: salmon;
    color: black;
    border: 2px solid black;
}

#apresentacao > div > a > i {
    margin: 0px 5px;
}

#sobre {
    scroll-snap-align: start;
    display: grid;
    grid-row: auto;
    height: 100vh;
    background-color: #202020;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%233c1a1a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23571313' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23730d0d' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%238e0606' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: cover;
    border-bottom: 2px solid white;
}

#sobre > h1 {
    text-shadow: 2px 2px 0px black;
    text-align: center;
    padding-top: 12vh;
    color: white;
    font-size: 3em;
}

#sobre > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

#sobre > div > p {
    width: 50vw;
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    text-indent: 2em;
}

#sobre > div > img {
    height: 30vw;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.548));
}

#tecnologias {
    scroll-snap-align: start;
    height: 100vh;
    background-color: #A00000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23860606' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%236d0d0d' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23531313' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%233a1a1a' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23202020' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: cover;
    padding: 20px;
    border-bottom: 2px solid white;
}

#tecnologias > h1 {
    padding-top: 12vh;
    text-shadow: 2px 2px 0px black;
    color: white;
    text-align: center;
    font-size: 3em;
}

#tecnologias > div {
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    align-items: center;
    place-items: center;
    height: 80%;
}

#tecnologias > div > i {
    font-size: 8em;
    color: white;
    transition: color .4s ease-in-out;
    text-shadow: 2px 2px 5px black;
}

#html5:hover {
    color: rgb(255, 38, 0);
}

#css3:hover {
    color: rgb(19, 19, 255);
}

#js:hover {
    color: yellow;
}

#php:hover {
    color: rgb(117, 117, 248);
}

#database:hover {
    color: lightblue;
}

#python:hover {
    color: rgb(226, 226, 38);
}

#projetos {
    scroll-snap-align: center;
    height: 100vh;
    padding: 20px;
}

#projetos > h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    padding-top: 12vh;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px black;
}

#projetos > section#sec-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#sec-projetos > div {
    border: 1px solid #ffffff8a;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: min-content;
    margin-bottom: 30px;
}

.links > a {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 10px;
    border: 1px solid rgb(255, 92, 92);
    padding: 7px;
    margin: 10px;
    width: 70%;
    text-align: center;
    transition: all .5s ease-in-out;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.links a:hover {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #000000;
}

#first {
    scroll-snap-align: none;
}

#first > iframe {
    height: 65vh;
}

.item-projeto {
    scroll-snap-align: start;
    scroll-margin-top: 80px;
}

.item-projeto > iframe {
    width: 80vw;
    height: 78vh;
}